body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #EED991 0%, #CCF7F4 100%); /* w3c */
}

button {
  cursor: pointer;
}

.particles {
  z-index: -999;
}